#lvMensajes{
    -fx-background-image:url("../resource/fondo.jpg");
	-fx-background-position: left top, center;
-fx-background-repeat: no-repeat;
-fx-background-size: cover, auto;

}
#taMensaje .content{
    -fx-background-image:url("../resource/itcfondo.png");
-fx-background-position: left top, center;
-fx-background-repeat: no-repeat;
-fx-background-size: cover, auto;
-fx-opacity:50%;
}
