#lvMensajes{
 /*  -fx-background-image:url("../resource/fondo.jpg");
	-fx-background-position: left top, center;
-fx-background-repeat: no-repeat;
-fx-background-size: cover, auto;
*/

}
#taMessage .content{
    -fx-background-image:url("../resource/itc.jpg");
-fx-background-position: left top, center;
-fx-background-repeat: no-repeat;
-fx-background-size: cover, auto;

}
